<!DOCTYPE html>

<html>

	<head>

		<!--Meta Data-->

		<meta charset="utf-8">

		<meta name="description" content="erste Aufgabe ProgrammierPraktikum soziale Netwerke SS2018">

		<meta name="keywords" content="HTML,CSS,Bootstrap,JavaScript">

		<meta name="author" content="Mageda El-Hussein, Emre Göl">

		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->



		

  

		<title>Aufgabe 1 SoNe18</title>

		

		

	    <!-- link for Bootstrap CDN , aka man muss nichts downloaden alle libraries über diese links verfügbar gemacht -->

		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

		

	</head>

	<body>

		<!--header, titel-->

		

		<div class="card-body col-10">				

			<a type="button" class="btn btn-lg btn-block btn-outline-primary col-5" href="../">back to main</a>

		</div>



		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

			<h1 class="display-4">Impressum</h1>

			<p class="lead">Wer sind die Autoren? Wie haben sie es geschafft so was geniales zu codieren? Sind Sie vegetarierer? Das und vieles mehr können sie uns Fragen!</p>

		</div>

		

	

		<div class="container">

			<div class="row">

				<div class="col-sm-6">

					<div class="card-header">

						<h4 class="my-0 font-weight-normal">Mageda El-Hussein</h4>

					</div>

						6.Semester Informatik, jepp dat me

					

				</div>

				<div class="col-sm-6">

					<div class="card-header">

						<h4 class="my-0 font-weight-normal">Ibhrahim Emre Göl</h4>

					</div>

						6.Semester Informatik, jepp dat me too

					

				</div>

			</div>

		</div>

	

		<!-- Google's CDN link for jQuery because bootstrap javascript requires jQuery , has to be above the bootstrap js file-->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	

		<!-- script links for bootstrap javascript CDN at the body of the page-->

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js" integrity="sha384-lZmvU/TzxoIQIOD9yQDEpvxp6wEU32Fy0ckUgOH4EIlMOCdR823rg4+3gWRwnX1M" crossorigin="anonymous"></script>



	</body>

</html>